{% extends "contenido/encabezado.html" %}
{%block titulo %}Eliminar empleado{% endblock %}
{% block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{%endblock%}
{%block contenido %}
{%block encabezado %}
<!--Encabezdo -->
<div class="col-sm-10">
    <div class="page-header">
        <div class="page-title">
            <h3>Eliminar empleado</h3>
        </div>
    </div>
</div>
<!-- /Encabezado-->
{% endblock %}
{% block barra %}
<!--Barra de Navegacion-->
<div class="col-sm-10">
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li>
                <a href="{%url 'Principal'%}">
                    {%if request.path == '/'%}
                    Principal
                    {%else%}
                    Principal{{request.path}}
                    {%endif%}
                </a>
            </li>
        </ul>
    </div>
    <div>
        <!--Barra de Navegacion-->
        {% endblock %}
        <form method="POST">
            {% csrf_token%}
            <!--Alerta-->
            <div class="col-sm-10">
                <div class="callout callout-danger fade in">
                    <h5>Eliminando empleado</h5>
                    <p>¿Estas seguro de que deseas <strong>Eliminar</strong>
                        el empleado seleccionado?.</p>
                </div>
                <button type="submit" class="btn btn-danger">Si</button>
                <a href="{%url 'Empleados'%}" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
        {% endblock %}