{% extends "contenido/encabezado.html" %}
{%block titulo %}Editando Empleado{% endblock %}
{% block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{%endblock%}
{%block titul%}
<div class="user-info">
    Curso <br><span>Editar</span>
</div>
{%endblock%}
{% block contenido%}
<!--Encabezdo -->
<div class="col-sm-10">
    <div class="page-header">
        <div class="page-title">
            <h3>Cursos <br>
                <small>Modificando Empleado</small>
            </h3>
        </div>
    </div>
</div>
<!-- /Encabezado-->
<!-- Formulario -->
<div class="col-sm-10">
    <form class="form-horizontal" action="{% url 'Editar' empleado.id%}" method="POST" role="form" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Nombre empleado:</label>
                    <div class="col-sm-10">
                        <input value="{{empleado.nombre}}" name="nombre" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Apellidos:</label>
                    <div class="col-sm-10">
                        <input value="{{empleado.apellido}}" name="apellido" type="text" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Area</label>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input value="{{empleado.area}}" name="area" type="text" class="form-control"> </input>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Cargo:</label>
                    <div class="col-sm-10">
                        <input value="{{empleado.cargo}}" name="cargo" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Informacion Adicional:</label>
                    <div class="col-sm-10">
                        <textarea name="adicional" class="form-control" name="" id="" cols="30"
                            rows="10">{{empleado.adicional}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-right">Fotografía:</label>
                    <div class="col-sm-10">
                        <p class="file-upload">Actualmente: <a href="{{empleado.imagen.url}}">{{empleado.imagen.url}}</a>
                            <input type="file" name="imagen" id="imagen"></p>
                    </div>
                </div>
                
                <div lass="form-group">
                    <td class="text-center">
                        
                    </td>
                </div>
                <div class="form-actions text-right">
                    <a href="{%url 'Empleados'%}" class="btn btn-primary">Cancelar</a>
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Fin del Formulario -->
{%endblock%}